{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau film{% endblock %}

{% block body %}
    <h1>Création d'un nouveau film</h1>
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Créer">
    {{ form_end(form) }}
    {% endif %}
{% endblock %}
