{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    <table>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>

        {% for movie in movies %}
            <tr>
                <td>{{ movie.name }}</td>
                <td>{{ movie.price }}</td>
                <td><a href="{{ path('movie_show', {'name': movie.name}) }}">Voir</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('movie_update', {'name': movie.name}) }}">Modifier</a></td>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('movie_delete', {'name': movie.name, 'token': csrf_token('delete'~movie.id)}) }}">Supprimer</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
