{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('category/_form.html.twig') }}
    {% endif %}
    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
