{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}
{% block stylesheets %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('app') }}

    <!-- Renders a link tag (if your module requires any CSS)
         <link rel="stylesheet" href="/build/app.css"> -->
{% endblock %}
{% block body %}
    {{ component('design') }}

{% endblock %}
