<!DOCTYPE html>
<html>
<head>
        {{ encore_entry_link_tags('app') }}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<header>
    <a href="http://localhost:88/"><img src="https://cdn.dribbble.com/users/77598/screenshots/15017786/media/ffd5525bc643fd3f48b517361278825c.png?compress=1&resize=800x600&vertical=top" alt="logo"/></a>
    {% if not(is_granted('ROLE_ADMIN','ROLE_USER')) %}

    {{ component('formProductButton',{url:"/login",message:'Se connecter'}) }}
    {{ component('formProductButton',{url:"/register",message:"S'inscrire"}) }}
    {% else %}
        <p>Vous êtes connectés !</p>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ component('formProductButton',{message:'Ajouter une marque'}) }}
    {% endif %}
    {{ component('formProductButton',{url:"/marque",message:"Marques"}) }}
    {{ component('formProductButton',{url:"/",message:"Articles"}) }}
    {{ component('formProductButton',{url:"/category",message:"Catégories"}) }}
</header>

{% block body %}{% endblock %}
</body>
</html>
