{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <div class="MarquesContainer">
        {% for marque in marques %}
            {{ component('design',{author:marque.nom,url:marque.logo}) }}
        {% endfor %}
    </div>

{% endblock %}
