
{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau film{% endblock %}

{% block body %}
    <h1>Création d'un nouveau produit</h1>
    {{ form_start(addMarqueForm) }}
    {{ form_rest(addMarqueForm) }}
    <input type="submit" value="Créer">
    {{ form_end(addMarqueForm) }}
{% endblock %}
