{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel article{% endblock %}

{% block body %}
    <h1>Création d'un nouvel article</h1>
    {{ form_start(article_create) }}
        {{ form_rest(article_create.name) }}
        {{ form_rest(article_create.img) }}
        <input type="submit" value="Créer">
    {{ form_end(article_create) }}
{% endblock %}